@page "/Teachers"
@using EG.DemoPCBE99925.ManageCourse.Web.Pages.Teachers.Components;

@inject IStringLocalizer<Resources.TeacherPage> Localizer
@inject TeacherState state;
@implements IDisposable
@inject SwitchUserState userState;
@inject NavigationManager navigationManager

@inject NVOverlayService OverlayService;


<NVStack Vertical StackItemCenter  Gutter="8" P="2" MY="5">
    <NVPanel Level="2">
        <NVBlock MY="2">
            <NVText TextColor="petrol-500" TextSize="h-sm">List of teachers</NVText>
        </NVBlock>

        <NVStack>
        <NVStackItemLead>
                <NVButton Small Level="2" Color="secondary"
                @onclick="state.RefreshList"
                    LeadIcon="refresh"> Refresh </NVButton>
        </NVStackItemLead>
        <NVStackItemTail>
                <NVButton Small Color="secondary"
                    @onclick="@(() =>state.OpenForm(null, () => OverlayService.Show(FormName)))"
                    LeadIcon="plus"> New teacher </NVButton>
        </NVStackItemTail>
        </NVStack>
        <NVTable Responsive>
            <NVTableHead>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Hire date</th>
                <th>Salary</th>
                <th></th>
            </NVTableHead>
            <NVTableBody>
                @if (state.LoadingRefresh)
                {
                    <tr>
                        <td colspan="5">
                            <NVBlock class="align-center-c">
                                <NVLoader Size="lg" Color="secondary" Loading />
                            </NVBlock>
                        </td>
                    </tr>
                }
                else if(state.Teachers == null)
                {
                    <tr>
                        <td colspan="5">
                            <NVBlock class="align-center-c">
                                List is empty
                            </NVBlock>
                        </td>
                    </tr>
                }
                else
                {
                    @foreach(var teacher in state.Teachers)
                    {
                        var teacherDto = teacher;
                        <tr>
                            <td data-table-heading="Firstname">
                                @teacherDto.FirstName
                                </td>
                            <td data-table-heading="Lastname">
                                @teacherDto.LastName
                                </td>
                            <td data-table-heading="Hire date" class="text-gray-800">
                                @teacherDto.HireDate.ToString("dd MMM yyyy")
                            </td>
                            <td data-table-heading="Salary">
                                @teacherDto.Salary €
                            </td>
                            <td>
                                <NVButton XSmall Level="2"
                                @onclick="@(() =>state.OpenForm(teacherDto, () => OverlayService.Show(FormName)))"
                                          Color="primary" Icon="edit" MR="2" />
                                <NVButton XSmall Level="2"
                                @onclick="@(() =>state.OpenForm(teacherDto, () => OverlayService.Show(FormName), false))"
                                    Color="secondary" Icon="eye" MR="2" />
                                <NVButton XSmall Level="2" Color="error" Icon="x" MR="2" />
                            </td>
                        </tr>
                    }
                }
            </NVTableBody>
        </NVTable>
    </NVPanel>
</NVStack>


@code {

    #region Listener state change


    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (userState.CurrentRole != Utils.Enums.UserTypeEnum.Teacher)
        {
            navigationManager.NavigateTo(userState.GetRoute(AppRouteEnum.Home));
        }
        state.Mont(async () => await InvokeAsync(StateHasChanged));

        InitializeModal();
    }

    public void Dispose()
    {
        state.UnMont(async () => await InvokeAsync(StateHasChanged));
    }

    #endregion


    #region Method lifecycle (override)
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (!state.DataIsAlreadyInitialize)
        {
            await state.RefreshList();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        // ensure that overlays exists before render overlays
        if (firstRender)
        {
            OverlayService.Render();
        }
    }

    #endregion Method lifecycle (override)


    #region Modal Methods
    private readonly string FormName = "form-teacher";
    private void InitializeModal()
    {
        NVOverlayServiceConfig overlayConfig = new NVOverlayServiceConfig(NVOverlayServiceConfig.MODAL,
           FormName,
        typeof(TeacherForm), new { MaxWidth = "40vw" });

        OverlayService.Initialize(overlayConfig);
    }
    #endregion
}
